:root {
    --wht01: #FFFFFF;
    --wht02: #f0f0f0;
    --wht03: #A0A5AC;
    --wht04: #3b3d41;

    --drk01: #181a1b;
    --drk02: #202325;
    --drk03: #b1b1b1;
    --drk04: #e4e4e4;

    --gradient: linear-gradient(90deg, var(--wht03) 0%, var(--wht04) 100%);

    --sidebar-left-offset: 30px;
    --sidebar-space: 10px 0;
    /* --sidebar-space: 5px 0; */
    --sidebar-text-weight: 370;
    --sidebar-font-size: 0.9125rem;

    --main-offset: 35px 65px;
}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--drk06);
    box-sizing: border-box;

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    resize: none;
}

html, body {
    background: var(--drk02);
    padding: 0;
	margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {display: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

/* Reveal Animation */
body main span,body main h1,body main h2,
body main h3,body main h4,body main h5,
body main h6,body main a,body main p, 
body main div {
    color: #0000;
    background: 
        linear-gradient(#000 0 0) no-repeat;
    background-size: 0% 100%; 
    filter: blur(1em);
    transform:translateY(20px);
    -webkit-background-clip: text;
            background-clip: text;
    animation: t .5s .5s both;
}

@keyframes t{
    to {background-size: 100% 100%;
    transform:translateY(0px);
    filter:blur(0em);} /* we animate to 100% 100%*/
}

/* --------------------------------------------------------------------------- */

/* @media only screen
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-device-pixel-ratio: 3) {} */

body {
    position: fixed; 
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100dvh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    background-color: var(--wht01);
}

body.dark-theme {
    --wht01: var(--drk01);
    --wht02: var(--drk02);
    --wht03: var(--drk03);
    --wht04: var(--drk04);
}

/* #region Sidebar */
aside {
    border-right: 1px solid var(--wht02);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* #region Header */
aside header {
    border-bottom: 1px solid var(--wht02);
    height: 230px;
}
aside header .title {
    padding: var(--sidebar-left-offset);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    font-weight: bold;
    gap: 20px;
}
aside header .title .framer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
aside header .title .framer .logo span {
    background-color: var(--wht02);
    font-family: "Noto Serif JP", serif;
    color: var(--wht04);
    font-size: 26px;
    border-radius: 5px;
    padding: 10px;
}
aside header .title .framer svg {
    width: 30px;
}
aside header .title .framer svg circle, aside header .title .framer svg ellipse{
    fill:var(--wht04);
}
aside header .title .title-btn {
    font-size: 20px;
    color: var(--wht04);
    transition: .3s ease;
}
aside header .title .title-btn:hover {
    color: var(--wht03);
}
/* #endregion */
/* #region Menu */
aside menu{
    padding: var(--sidebar-left-offset);
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    font-weight: var(--sidebar-text-weight);
}
aside menu .title{
    letter-spacing: 1px;
    font-weight: var(--sidebar-text-weight);
    font-size: var(--sidebar-font-size);
    color: var(--wht03);
}
aside menu .folder {
    display: flex;
    flex-direction: column;
}
aside menu .folder .folder-title {
    color: var(--wht04);
    transition: .3s ease;
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
    margin: var(--sidebar-space);
}
aside menu .folder .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    border-left: 3px solid var(--wht02);
    opacity: 0;
    max-height: 0px;

    transition: .3s ease;
}
aside menu .folder:hover .folder-title {
    color: var(--wht03);
}
aside menu .folder:hover .container {
    opacity: 1;
    max-height: 100dvh;
    padding-left: 16px;
}
aside menu .folder .container a {
    padding: 5px 0;
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
    color: var(--wht04);
    transition: .3s ease;
}
aside menu .folder .container a:hover {
    color: var(--wht03);
}
/* #endregion */
/* #region Footer */
aside footer {
    border-top: 1px solid var(--wht02);
    display: flex;
    flex-direction: column;
    padding: var(--sidebar-left-offset);
}
aside footer a { 
    color: var(--wht04);
    transition: .3s ease;
    padding: var(--sidebar-space);
    font-weight: var(--sidebar-text-weight);
    font-size: var(--sidebar-font-size);
}
aside footer a:hover { 
    color: var(--wht03);
}
aside footer span {
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
}
aside footer span:first-child {
    color: var(--wht03);
    letter-spacing: 1px;
    transition: .3s ease;
}
aside footer a span {
    color: var(--wht04);
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    transition: .3s ease;
}
/* #endregion */
/* #endregion */

/* #region 404 */
.page-not-found {
    padding: 40px 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-not-found h5:first-child{
    letter-spacing: 5px;
}
.page-not-found h5 {
    color: var(--wht03);
    font-weight: 300;
}
.page-not-found h1 {
    color: var(--wht04);
    font-weight: 500;
}
.page-not-found a {
    font-weight:lighter;
    box-shadow: none;

    border: 1px solid var(--wht02);
    background: rgb(247,247,247);
    border-radius: 6px;
    box-sizing: border-box;
    width: fit-content;
    padding: 8px 16px;
    
    --border-color:rgb(223,224,225);
    --border-bottom-width:1px;
    --border-left-width:1px;
    --border-right-width:1px;
    --border-top-width:1px;
    --border-style:solid;
    --border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.60219px 0.60219px -1.25px, rgba(0, 0, 0, 0.16) 0px 2.28853px 2.28853px -1.5px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
    transition: .3s ease;
}
.page-not-found a:hover{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.60219px 0.60219px -1.25px, rgba(0, 0, 0, 0.16) 0px 4.28853px 4.28853px -1px, rgba(0, 0, 0, 0.063) 0px 10px 10px -3.75px;
}
/* #endregion */

/* #region Main */
.index{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100dvh;
}
/* #region Header */
.index header{
    height: 116px;
    width: 90%;
    margin: var(--main-offset);
    display: flex;
    gap: 30px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}
.index header span, .index header h1 {
    /* font-weight: normal; */
    letter-spacing: -2px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.index header span {
    font-size: 22px;
}
.index header h1 {
    margin-top: 0;
    font-size: 45px;
    font-weight: 550;
}
.index .separator {
    border-top: 1.5px solid var(--wht02);
    width: 90%;
    margin: var(--main-offset);
    padding: 8px;
}
.index .separator span {
    color: var(--wht03);
    letter-spacing: 2px;
    font-weight: 250;
    font-size: 14px;
}
/* #endregion */
/* #region Content */
.index .content {
    margin: var(--main-offset);
    /* background-color: #000; */
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height:min-content;
    justify-content: center;
}
.index .content .framer {
    display: flex;
    align-items: center;
    flex: 1 0 0px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
}
.index .content .framer .post {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    height: min-content;
    justify-content: flex-start;
    width: 100%;
}
.index .content .framer .post .image {
    /* !!!!!!!!!!!!!!!!!!CHANGE\/!!!!!!!!!!!!!!!! */
    background-color: var(--wht02); 
    border-radius: 6px;
    aspect-ratio: 1.5/1;
    flex: none;
    height: var(auto, 169px);
    width: 100%;
    --border-bottom-width: 0.5px;
    --border-color: var(--token-3de59ac9-aab9-4b54-8172-afb45dd4eb8a, rgb(223, 224, 225));
    --border-left-width: 0.5px;
    --border-right-width: 0.5px;
    --border-style: solid;
    --border-top-width: 0.5px;
    box-shadow: rgba(28, 29, 33, 0.133) 
        0px 0.60219px 0.60219px -1.16667px, 
        rgba(28, 29, 33, 0.12) 0px 2.28853px 2.28853px 
        -2.33333px, rgba(28, 29, 33, 0.06) 0px 10px 10px
        -3.5px, rgba(223, 224, 225, 0.3) 0px 0px 0px 0px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    transition: .3s ease;
}
.index .content .framer .post .image:hover {
    box-shadow: rgba(28, 29, 33, 0.133) 0px 0.60219px 0.60219px -1.16667px, 
        rgba(28, 29, 33, 0.52) 0px 2.28853px 10.28853px -2.33333px, 
        rgba(28, 29, 33, 0.06) 0px 10px 10px -3.5px,
        rgba(223, 224, 225, 0.3) 0px 0px 0px 0px;
}
.index .content .framer .post .image img {
    aspect-ratio: 1/1;
    width: 32%;
}
.index .content .framer .post .framer {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: space-between;
    width: 100%;
}
.index .content .framer .post .framer .name {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: flex-start;
}
.index .content .framer .post .framer .title {
    color: var(--wht04);
    font-size: 20px;
    font-weight: 550;
}
.index .content .framer .post .framer .description {
    color: var(--wht03);
    font-size: 20px;
    font-weight: 550;
}
.index .content .framer .post .framer .date {
    color: var(--wht03);
    font-size: 16px;
    font-weight: 450;
}
/* #endregion */
/* #region Footer */
.index footer{
    border-top: 2px solid var(--wht02);
    width: 100%;
    height: 2px;
    padding: var(--main-offset);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.index footer span {
    color: var(--wht03);
    font-size: 14px;
    font-weight: 450;
}
/* #endregion */
/* #endregion */