:root {
    --wht01: #FFFFFF;
    --wht02: #f0f0f0;
    --wht03: #A0A5AC;
    --wht04: #3b3d41;
    --wht05: #fbfbfd;
    --wht06: #eeeeee;

    --drk01: #181a1b;
    --drk02: #202325;
    --drk03: #b1b1b1;
    --drk04: #e4e4e4;
    --drk05: #202325;
    --drk06: #202325;

    --gradient: linear-gradient(90deg, var(--wht03) 0%, var(--wht04) 100%);

    --sidebar-left-offset: 30px;
    --sidebar-space: 10px 0;
    /* --sidebar-space: 5px 0; */
    --sidebar-text-weight: 450;
    --sidebar-logo-text-weight: 550;
    --sidebar-font-size: 0.9125rem;

    --main-offset: 35px 65px;
    --about-offset: 35px 120px;
    --ideas-offset: 35px 24%;

}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--wht04);
    box-sizing: border-box;

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    resize: none;
}

html, body {
    background: var(--drk02);
    padding: 0;
	margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {display: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

/* Reveal Animation */
body main span,body main h1,body main h2,
body main h3,body main h4,body main h5,
body main h6,body main a,body main p
body main div,body main img
{
    color: #0000;
    background: linear-gradient(var(--wht04) 0 0) no-repeat;
    background-size: 0% 100%;
    transform:translateY(20px);
    -webkit-background-clip: text;
    background-clip: text;
    animation: t .5s 0s both;
    filter: blur(1em);
}
body main .about span,body main .about h1,body main .about h2,
body main .about h3,body .about main h4,body main .about h5,
body main .about h6,body .about main a,body main .about p
body main .about div
{
    color: #0000;
    background: linear-gradient(var(--wht04) 0 0) no-repeat;
    background-size: 0% 100%;
    transform:translateY(20px);
    -webkit-background-clip: text;
    background-clip: text;
    animation: t .5s 0s both;
    filter: blur(.25em);
}

@keyframes t{
    to {
        background-size: 100% 100%;
        transform:translateY(0px);
        filter:blur(0em);
    }
}

/* --------------------------------------------------------------------------- */

/* @media only screen
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-device-pixel-ratio: 3) {} */

body {
    position: fixed; 
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100dvh;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    background-color: var(--wht01);
}

body.dark-theme {
    --wht01: var(--drk01);
    --wht02: var(--drk02);
    --wht03: var(--drk03);
    --wht04: var(--drk04);
    --wht05: var(--drk05);
    --wht06: var(--drk06);
}

/* #region Sidebar */
aside {
    border-right: 1px solid var(--wht02);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* #region Header */
aside header {
    border-bottom: 1px solid var(--wht02);
    height: 230px;
}
aside header .title {
    padding: var(--sidebar-left-offset);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    font-weight: var(--sidebar-logo-text-weight);
    gap: 20px;
}
aside header .title .framer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
aside header .title .framer .logo span {
    background-color: var(--wht02);
    font-family: "Noto Serif JP", serif;
    color: var(--wht04);
    font-size: 26px;
    border-radius: 5px;
    padding: 10px;

    text-shadow:
        0 0 7px var(--wht04);
}
aside header .title .framer svg {
    width: 30px;
}
aside header .title .framer svg circle, aside header .title .framer svg ellipse{
    fill:var(--wht04);
}
aside header .title .title-btn {
    font-size: 20px;
    color: var(--wht04);
    transition: .3s ease;
}
aside header .title .title-btn:hover {
    color: var(--wht03);
}
/* #endregion */
/* #region Menu */
aside menu{
    padding: var(--sidebar-left-offset);
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    font-weight: var(--sidebar-text-weight);
}
aside menu .title{
    letter-spacing: 1px;
    font-weight: var(--sidebar-text-weight);
    font-size: var(--sidebar-font-size);
    color: var(--wht03);
}
aside menu .folder {
    display: flex;
    flex-direction: column;
}
aside menu .folder .folder-title {
    color: var(--wht04);
    transition: .3s ease;
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
    margin: var(--sidebar-space);
}
aside menu .folder .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    border-left: 3px solid var(--wht02);
    opacity: 0;
    max-height: 0px;

    transition: .3s ease;
}
aside menu .folder:hover .folder-title {
    color: var(--wht03);
}
aside menu .folder:hover .container {
    opacity: 1;
    max-height: 100dvh;
    padding-left: 16px;
}
aside menu .folder .container a {
    padding: 5px 0;
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
    color: var(--wht04);
    transition: .3s ease;
}
aside menu .folder .container a:hover {
    color: var(--wht03);
}
/* #endregion */
/* #region Footer */
aside footer {
    border-top: 1px solid var(--wht02);
    display: flex;
    flex-direction: column;
    padding: var(--sidebar-left-offset);
}
aside footer a { 
    color: var(--wht04);
    transition: .3s ease;
    padding: var(--sidebar-space);
    font-weight: var(--sidebar-text-weight);
    font-size: var(--sidebar-font-size);
}
aside footer a:hover { 
    color: var(--wht03);
}
aside footer span {
    font-size: var(--sidebar-font-size);
    font-weight: var(--sidebar-text-weight);
}
aside footer span:first-child {
    color: var(--wht03);
    letter-spacing: 1px;
    transition: .3s ease;
}
aside footer a span {
    color: var(--wht04);
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    transition: .3s ease;
}
/* #endregion */
/* #endregion */


.separator {
    border-top: 1.75px solid var(--wht02);
    width: 90%;
    margin: var(--main-offset);
    padding: 8px;
    
    background: var(--wht01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.separator span {
    /* color: var(--wht03); */
    letter-spacing: 2px;
    font-weight: 250;
    font-size: 14px;
}
.about .separator span {
    font-size: 12px;
}

/* #region Main */



/* #region 404 */
.page-not-found {
    padding: 40px 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-not-found h5:first-child{
    letter-spacing: 5px;
}
.page-not-found h5 {
    color: var(--wht03);
    font-weight: 300;
}
.page-not-found h1 {
    color: var(--wht04);
    font-weight: 500;
}
.page-not-found a {
    font-weight:lighter;
    box-shadow: none;

    border: 1px solid var(--wht02);
    background: rgb(247,247,247);
    border-radius: 6px;
    box-sizing: border-box;
    width: fit-content;
    padding: 8px 16px;
    
    box-shadow:
    var(--wht04) 0px 0.60219px 0.60219px -1.25px,
    var(--wht04) 0px 2.28853px 2.28853px -1.5px,
    var(--wht03) 0px 10px 10px -3.75px;
    transition: .3s ease;
}
.page-not-found a:hover{
    box-shadow:
    var(--wht04) 0px 0.60219px 0.60219px -1.25px,
    var(--wht04) 0px 2.28853px 10.28853px -1.5px,
    var(--wht03) 0px 10px 10px -3.75px;
}
.page-not-found a span{
    color: var(--wht03);
}
/* #endregion */

/* #region Index */
.index{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100dvh;
}
/* #region Header */
.index header{
    height: 116px;
    width: 90%;
    margin: var(--main-offset);
    display: flex;
    gap: 30px;
    align-items: flex-end;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}
.index header span, .index header h1 {
    /* font-weight: normal; */
    letter-spacing: -2px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.index header span {
    font-size: 22px;
}
.index header h1 {
    margin-top: 0;
    font-size: 45px;
    font-weight: 550;
}
/* #endregion */
/* #region Content */
.index .content {
    margin: var(--main-offset);
    /* background-color: #000; */
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    height:min-content;
    justify-content: center;
}
.index .content .framer {
    display: flex;
    align-items: center;
    flex: 1 0 0px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
}
.index .content .framer .post {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: flex-start;
    /* height: min-content; */
    min-height: 335px;
    width: 100%;
}
.fog {
    background: radial-gradient(50% 50% at 50% 50%,
     rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    
    flex: 0 0 auto;
    overflow: visible;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    user-select: none;
}
.index .content .framer .post .image {
    background: var(--wht05);
    border-radius: 6px;
    border: 1px solid var(--wht06);
    aspect-ratio: 1.5/1;
    flex: none;
    /* height: var(auto, 169px); */
    width: 100%;
    box-shadow: var(--wht04) 0px 0.60219px 0.60219px -1.16667px, 
        var(--wht03) 0px 2.28853px 2.28853px -2.33333px, 
        var(--wht02) 0px 10px 10px -3.5px,
        var(--wht01) 0px 0px 0px 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    /* gap: 10px; */
    justify-content: center;
    transition: .3s ease;
}
.index .content .framer .post .image:hover {
    box-shadow: var(--wht04) 0px 0.60219px 0.60219px -1.16667px, 
        var(--wht03) 0px 2.28853px 10.28853px -2.33333px, 
        var(--wht02) 0px 10px 10px -3.5px,
        var(--wht01) 0px 0px 0px 0px;
}
.index .content .framer .post .image img {
    /* aspect-ratio: 1/1; */
    width: 32%;
    /* border: 1px solid var(--wht06); */
    border-radius: 6px;
    min-width: 32%;
    max-width: 100%;
    /* width: 100%; */
}
.index .content .framer .long-post .image {
    background-color: var(--wht05);
}
.index .content .framer .long-post .image img{
    width: 100%;
    margin: 1%;
    max-width: 98%;
}
.index .content .framer .post .framer {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    height: min-content;
    justify-content: space-between;
    width: 100%;
}
.index .content .framer .post .framer .name {
    display: flex;
    align-items: flex-start;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: flex-start;
}
.index .content .framer .post .framer .title {
    color: var(--wht04);
    font-size: 20px;
    font-weight: 550;
}
.index .content .framer .post .framer .description {
    color: var(--wht03);
    font-size: 20px;
    font-weight: 550;
}
.index .content .framer .post .framer .date {
    color: var(--wht03);
    font-size: 16px;
    font-weight: 450;
}
/* #endregion */
/* #region Footer */
.index footer{
    border-top: 2px solid var(--wht02);
    /* background-color: pink; */
    width: 100%;
    padding: var(--main-offset);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.index footer span {
    color: var(--wht03);
    font-size: 14px;
    font-weight: 450;
}
/* #endregion */
/* #endregion */

/* #region About [FOG] */
.about{
    
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100dvh;
    margin: var(--about-offset);
    margin-top: 0px;
    max-width: 90%;
    /* background-color: pink; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 76px;
}
.about header{
    margin: var(--about-offset);
    font-size: 14px;
    width: 100%;
    letter-spacing: 1px;
    background: var(--wht04);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about .fog {
    background: radial-gradient(60% 60% at 60% 50%,
     rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    /* background-color: pink; */
    transform: translate(-100px, -60px);
    padding: 40px 550px 450px 0px;
    position: absolute;
}
/* #region Title */
.about .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    gap: 100px;
}
/* #region Name */
.about .title .name{
    /* background-color: pink; */
    width: 405px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    /* background: var(--wht03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.about .title .name h1{
    font-size: 174px;
    font-weight: 550;
    line-height: 0.85;
}
.about .title .name footer{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about .title .name footer span{
    font-size: 52px;
}
.about .title .name footer .transcription{
    font-size: 24px;
}
/* #endregion */
/* #region Image Set */
.about .title .image-set{
    width: 600px;
    height: 455px;
    /* background-color: pink; */
    position: relative;
}
.about .title .image-set .fog{
    background: radial-gradient(50% 50% at 60% 50%,
    rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    /* background-color: pink; */
    padding: 40px 600px 550px 400px;
}
.about .title .image-set img{
    box-shadow: 0 5px 10px var(--wht04);
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}
.about .title .image-set .frame1{
    position: absolute;
    height: 342px;
    width: 269px;
    bottom: 84px;
    left: 258px;
}
.about .title .image-set .frame2{
    position: absolute;
    height: 223px;
    width: 197px;
    bottom: 23px;
    left: 543px;
}
.about .title .image-set .frame3{
    position: absolute;
    height: 214px;
    width: 300px;
    left: 543px;
}
.about .title .image-set .frame4{
    position: absolute;
    bottom: 40px;
    height: 271px;
    left: 42px;
    width: 200px;
}
/* #endregion */
/* #endregion */

/* #region Info */
.about .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
/* #region Image Set */
.about .info .image-set{
    /* background-color: pink; */
    height: 450px;
    width: 30%;
    position: relative;
}
.about .info .image-set .fog{
    position: absolute;
    background: radial-gradient(50% 50% at 55% 50%,
    rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    /* background-color: pink; */
    transform: translateX(30px);
    right: 0;
    padding: 240px 400px;
}
.about .info .image-set img{
    box-shadow: 0 2px 5px var(--wht04);
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}
.about .info .image-set .frame1{
    top: 10px;
    right: 300px;
    gap: 10px;
    position: absolute;
    width: 340px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 260px;
}
.about .info .image-set .frame2{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 260px;
}
/* #endregion */
/* #region Text */
.about .info .text{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about .info .text header{
    margin: 0;
}
.about .info .text header span{
    /* color: var(--wht01);
    font-weight: 400; */
    background: var(--wht03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* #endregion */
/* #endregion */

/* #region Education */
.about .education{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    /* margin-bottom: 500px; */
}
/* #region Text */
.about .education .text{
    /* background-color: pink; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about .education .text h3{
    font-size: 26px;
    font-weight: 550;
}
.about .education .text h3:first-child{
    color: var(--wht04);
}
.about .education .text h3:nth-child(2){
    color: var(--wht03);
    margin-bottom: 15px;
}
.about .education .text span{
    line-height: 1.5;
    font-size: 14px;
}
/* #endregion */
/* #region Image Set */
.about .education .image-set{
    /* background-color: pink; */
    
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .education .image-set img{
    box-shadow: 0 2px 5px var(--wht04);
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}
.about .education .image-set .fog{
    position: relative;
    z-index: 2;
    background: radial-gradient(60% 60% at 50% 50%,
    rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    /* background-color: pink; */
    transform: translateX(15px);
    right: 0;
    padding: 50% 70%;
}
.about .education .image-set .frame1{
    position: absolute;
    height: 100%;
}
.about .education .image-set .frame1 span{
    color: var(--wht04);
    position: relative;
    z-index: 3;
}
/* #endregion */
/* #endregion */
/* #region ThingsIlove */
.about .til {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
/* #region Text */
.about .til .text{
    /* background-color: pink; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about .til .text h3{
    font-size: 26px;
    font-weight: 550;
    color: var(--wht04);
}
.about .til .text h3:first-child{
    letter-spacing: 4px;
    color: var(--wht03);
    font-size: 16px;
    font-weight: 350;
    margin-bottom: 22px;
}
/* #endregion */
/* #region Image Set */
.about .til .image-set{
    /* background-color: pink; */
    width: 600px;
    height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about .til .image-set img{
    box-shadow: 0 2px 5px var(--wht04);
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: auto;
}
.about .til .image-set .fog{
    position: relative;
    z-index: 1;
    background: radial-gradient(50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%, var(--wht01) 100%);
    /* background-color: pink; */
    transform: translateX(30px);
    transform: translateY(100px);
    right: 0;
    padding: 340px 400px 340px;
}
.about .til .image-set .frame1{
    position: absolute;
    
    /* right: -113px; */
    right: -20px;
    bottom: -50px;
    width: 300px;
    height: 300px;
}
.about .til .image-set .frame2{
    position: absolute;
    bottom: 0;
    left: 1px;
    top: 0;
    width: 300px;
}
/* #endregion */
/* #endregion */

/* #endregion */

/* #region Ideas */
.ideas {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100dvh;
    margin: var(--ideas-offset);
    max-width: 90%;
    /* background-color: pink; */

    display: flex;
    flex-direction: column;
    align-items: center;
}
.ideas .separator{
    width: 100%;
    margin: 16px 0;
}
/* #region Header */
.ideas header{
    width: 100%;
}
.ideas header p{
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--wht03);
    margin-bottom: 16px;
}
.ideas header h1{
    font-size: 32px;
    color: var(--wht04);
    font-weight: 500;
    margin-bottom: 16px;
}
.ideas header p:last-child{
    color: var(--wht04);
    letter-spacing: 1px;
    /* margin-bottom: -16px; */
}
/* #endregion */
/* #region List */
.ideas .list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
}
.ideas .list .idea{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 6px 0;
}
.ideas .list .idea:hover span{
    color: var(--wht03);
}
.ideas .list .idea span{
    font-size: 22px;
    color: var(--wht04);
    transition: .2s ease;
}
.ideas .list .idea p{
    font-size: 14px;
    color: var(--wht04);
}
/* #endregion */
/* #endregion */



/* #endregion */