:root {
    --wht01: #FFFFFF;
    --wht02: #ececec;
    --wht03: #A0A5AC;
    --wht04: #000;

    /*--help-margin-top: 120px;*/
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system;
    text-decoration: none;
    border: none;
    outline: none;
    color: var(--drk06);

    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
    resize: none;
}

html, body {
    background: var(--drk02);
    padding: 0;
	margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {display: none;}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

/* --------------------------------------------------------------------------- */

/* @media only screen
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-device-pixel-ratio: 3) {} */

body {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    height: 100dvh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
}

aside {
    border-right: 1px solid rgb(228, 228, 228);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside header {
    border-bottom: 1px solid var(--wht02);
    height: 230px;
}

aside header .title {
    padding: 0 26px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    gap: 16px;
}
aside header .title .logo span {
    background-color: var(--wht02);
    font-family: "Noto Serif JP", serif;
    font-size: 26px;
    border-radius: 5px;
    padding: 16px;
}
aside header .title .title-btn {
    background-color: var(--wht01);
    font-size: 20px;
}

aside footer {
    border-top: 1px solid var(--wht02);
    display: flex;
    flex-direction: column;
    padding: 26px 26px;
    gap: 10px;
}
aside footer span {
    font-size: 16px;
}
aside footer span:first-child {
    color: var(--wht03);
    letter-spacing: 1px;
}