{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT -->
<div class="header">
    <img src="{% static 'core/img/im.png' %}">
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Katastasis</h1>
        </div>
        <div class="r3">
            <h3>It's just a game. I'm not really sure what I'm doing.</h3>
        </div>
    </div>

    <div class="separator"></div>

    <div class="p">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nihil officiis tempore nesciunt neque quod itaque atque?
            tates, fugit repellendus? Earum enim ad amet alias sunt iusto
            minus tenetur, labore debitis!
        </p>
    </div>

    <div class="separator"></div>

    <div class="hor">
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
    </div>
</div>
<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1"><h1 class="h1">Slasher Game</h1></div>
        <div class="r3">
            <h3>It's just a game. I'm not really sure what I'm doing.</h3>
        </div>
    </div>
</div>
    
<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/ava.jpg' %}">
        <img src="{% static 'core/img/im.png' %}">
    </div>
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="r1">Good Notes</h1>
        </div>
        <div class="r3">
            <h3>It's just a game. I'm not really sure what I'm doing.</h3>
        </div>
    </div>

    <div class="separator"></div>

    <div class="p">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nihil officiis tempore nesciunt neque quod itaque atque?
            tates, fugit repellendus? Earum enim ad amet alias sunt iusto
            minus tenetur, labore debitis!
        </p>
    </div>

    <div class="separator"></div>

    <div class="hor">
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
    </div>
</div>

{% endblock %} 