{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT -->
<div class="header">
    <img src="{% static 'core/img/posts/lasso.png' %}" style="width: 50dvw; border-radius: 6px;">
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Lasso</h1>
        </div>
        <div class="r3">
            <h3 id="en">Lasso is a console program written on python that helps you download audio from YouTube very quickly and conveniently. You can download a single video or an entire playlist by choosing the format (3gp, aac, flv, m4a, mp3, mp4, ogg, wav, webm), location and range.</h3>
            <h3 id="ru">Lasso - это консольная программа написанная на питоне которая помогает очень быстро и удобно скачивать и аудио с ютуба. Вы можете скачивать единый ролик или целый плейлист выбирая формат (3gp, aac, flv, m4a, mp3, mp4, ogg, wav, webm), место и диапазон.</h3>
        </div>
    </div>
</div>
<div class="separator long-separator"></div>
<div class="in-post">
    <div class="vert10">
        <h2 id="en">Installation:</h2>
        <h2 id="ru">Установка:</h2>
        <div class="space"></div>
        <div class="vert" style="gap: 10px;">
            <span id="en">Clone/install <a href="https://github.com/equa-tory/Lasso">Github Repository</a></span>
            <span id="ru">Клонируйте/скачайте <a href="https://github.com/equa-tory/Lasso">Github Репозиторий</a></span>
            <p class="selector">pip install -r requirements.txt</p>
            
            <div class="separator"></div>
            
            <div class="span"><a>Linux</a></div>
            <p>Arch Linux: <p class="selector">sudo pacman -S ffmpeg</p></p>
            <p>Debian/Ubuntu: <p class="selector">sudo apt install ffmpeg</p></p>

            <div class="separator"></div>

            <div class="span"><a>Windows</a></div>
            <p id="en">Needful utility for convertation <a href="https://www.gyan.dev/ffmpeg/builds/">ffmpeg </a>(latest realese) <a href="https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip">[direct link]</a> - export zip at any folder search for system variables and add to "Path" the path of ...\ffmpeg-version-essentials_build\bin restart your terminal</p>
            <p id="ru">Нужна утилита для конвертации <a href="https://www.gyan.dev/ffmpeg/builds/">ffmpeg </a>(latest realese) <a href="https://www.gyan.dev/ffmpeg/builds/ffmpeg-release-essentials.zip">[прямая ссылка]</a> - извлеките файлы в любую папку.</p>
            <p class="selector">python main.py</p>
            
            <p id="en">Open the application "Changing system environment variables", "Environment Variables...", open "Path" in the top menu and create a link to ...\ffmpeg-version-essentials_build\bin</p>
            <p id="ru">Откройте приложение "Изменение системных переменных среды", "Переменные среды...", в верхнем меню откройте "Path" и создайте ссылку на ...\ffmpeg-version-essentials_build\bin</p>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img class="hover" src="{% static 'core/img/posts/ffmpeg.png' %}">
        <img class="hover" src="{% static 'core/img/posts/locvar.png' %}">
        <img class="hover" src="{% static 'core/img/posts/path.png' %}">
        <img class="hover" src="{% static 'core/img/posts/ffadd.png' %}">
    </div>
</div>

<div class="in-post">
    <div class="vert10">
        <p id="en">Finally restart the terminal</p>
        <p id="ru">В конце перезапустите терминал</p>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="hor">
        <div class="vert">
            <div class="span" id="en"><span>Created</span></div>
            <div class="span" id="ru"><span>Созданно</span></div>
            <div class="p"><p>3.08 - 2024</p></div>
        </div>
        <div class="vert">
            <div class="span" id="en"><span>Tools</span></div>
            <div class="span" id="ru"><span>Инструменты</span></div>
            <div class="p"><p><a href="https://www.python.org/downloads/">Python</a></p></div>
            <div class="p"><p><a href="https://pypi.org/project/yt-dlp/">yt-dlp</a></p></div>
        </div>
    </div>
</div>


{% endblock %} 