{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT -->
<div class="header" style="height: fit-content; ">
    <img src="{% static 'core/img/posts/p3school.png' %}" style="width: 100%; border-radius: 6px;">
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Persona 3 Reload</h1>
        </div>
        <div class="r3">
            <h3 id="en"><p style="font-weight: 100; font-style: italic; font-size: 14px;">I couldn't post this review on steam so I desided to leave it here:</p>Emotions are what drives people, and this game has given me a lot more of them than I could have imagined. "Atlus" ありがとうございます for all of you. (I didn't even know I could cry like that).</h3>
            <h3 id="ru"><p style="font-weight: 100; font-style: italic; font-size: 14px;">Я не смог опубликовать этот обзор в steam, поэтому решил оставить его здесь:</p>Эмоции - это то, что движет людьми, и эта игра подарила мне их гораздо больше, чем я мог себе представить. "Atlus" ありがとうございます для всех вас. (Я даже не знал, что могу так плакать).</h3>
            <!-- <p>\/ перенести в конец поста</p> -->
            <audio controls>
                <source src="{% static 'core/audio/Persona 3 Reload OST - Memories of You [FINAL WASH OF 2024!] HQ.m4a' %}">
            </audio>
        </div>
    </div>

    <!-- <div class="separator"></div> -->
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <iframe width="1120" height="630" src="https://www.youtube.com/embed/2hUxmiN2Qdc?si=5dkI2i4SZLEzyzBr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="separator long-separator" style="margin-top: 50px;"></div>

<div class="in-post">

    <div class="p">
        <div class="r3">
            <h3>
                Так, давайте быстро пройдёмся с чем это едят, чтобы не заскучать.
            </h3>
        </div>
        <div class="space"></div>

        <div class="space"></div>
        <div class="h3">
            <h3>
                Persona — это серия японских ролевых игр, созданных компанией Atlus. Является частью более крупного франчайза "Megami Tensei".
                Persona выделяется среди других JRPG своим уникальным сочетанием традиционного ролевого геймплея, психологического анализа и социальной симуляции,
                что делает её непохожей на другие игры.
            </h3>
            <div class="space"></div>
            <h3>
                Каждая игра в серии Persona разворачивается вокруг группы молодых людей, обычно старшеклассников, которые сталкиваются с мистическими событиями и сущностями, известными как "Персоны". Эти существа являются воплощением их внутренних психологических аспектов.
            </h3>
            <div class="space"></div>
            <h3>
                Основная тема игры — это самоопознание и внутренняя борьба персонажей, которые преодолевают свои страхи, сомнения и слабости, чтобы раскрыть свои истинные силы.
            </h3>
            <div class="space"></div>
            <h3>
                В каждой игре исследуются различные социальные и философские темы, такие как экзистенциальный кризис, коллективное бессознательное и общественные проблемы.
            </h3>
        </div>
    </div>

</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1"><h1 class="h1">Музыка</h1></div>
        <div class="r3">
            <h3>Сожги мой страх</h3>
        </div>
    </div>

    <div class="vert">
        <div class="r3">
            <h3>
                Знаю что людей в играх больше привлекает ИГРА, но именно музыка подарила мене 60% внимания.
            </h3>
        </div>

        <div class="h3">
            <h3>Музыка в серии Persona является одной из самых важных и отличительных её черт и играет ключевую роль в создании атмосферы и эмоционального фона игры. Аудио сопровождение часто меняется в зависимости от времени суток, местоположения или ситуации в игре.</h3>
            <h3>Например в моменты повседневной жизни — лёгкими и расслабляющими:</h3>
            <div class="vert">
                <h2>Color Your Night</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Color Your Night  -Full-.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>学園の記憶 (Memories of the School)</h2>
                <audio controls>
                    <source src="{% static 'core/audio/学園の記憶 (P3R ver.).m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>During the Exams</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload Soundtrack - During the Exams.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>Changing Seasons</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload OST - Changing Seasons [FINAL WASH OF 2024!] HQ.m4a' %}">
                </audio>
            </div>
            <div class="space"></div>
            <h3>А в боевых сценах саундтреки могут быть динамичными и напряжёнными:</h3>
            <div class="vert">
                <h2>Color Your Night</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Color Your Night  -Full-.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>学園の記憶 (Memories of the School)</h2>
                <audio controls>
                    <source src="{% static 'core/audio/学園の記憶 (P3R ver.).m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>During the Exams</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload Soundtrack - During the Exams.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>Changing Seasons</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload OST - Changing Seasons [FINAL WASH OF 2024!] HQ.m4a' %}">
                </audio>
            </div>

            <div class="space"></div>
            <h3>Например, трек "The Battle for Everyone’s Souls" из Persona 3 подчёркивает борьбу за спасение мира:</h3>
            <audio controls>
                <source src="{% static 'core/audio/Persona 3 Reload OST - The Battle for Everyones Souls.m4a' %}">
            </audio>
        </div>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1"><h1 class="h1">Геймплей</h1></div>
        <div class="r3">
            <h3>Обычная JRPG. Или нет...</h3>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/posts/wdqszktqmux437sna6yc7bhw9adhidod.jpeg' %}">
        <img src="{% static 'core/img/posts/foiwajaifwjai.png' %}">
        <img src="{% static 'core/img/posts/og_og_1706889976282083306.jpg' %}">
    </div>
</div>

<div class="in-post">
    <div class="vert">
        <div class="h3">
            <h3>
                Persona совмещает элементы традиционной JRPG с социальной симуляцией. В боях игроки сражаются с тенями и демонами, используя силы своих Персон. Боевая система обычно пошаговая, с акцентом на использование слабостей врагов для достижения победы.
            </h3>
        </div>
        <div class="h3">
            <h3>
                Вне боя игроки проводят время в реальном мире, строя отношения с другими персонажами, посещая школу, участвуя в клубах и занимаясь различными повседневными делами. Эти социальные связи оказывают влияние на силу Персон в бою.
            </h3>
        </div>
        <div class="h3">
            <h3>
                Важным элементом является система "Social Links" (социальные связи), которая позволяет игрокам укреплять отношения с определенными персонажами и получать за это различные бонусы.
            </h3>
        </div>
    </div>
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="r1">Good Notes</h1>
        </div>
        <div class="r3">
            <h3>It's just a game. I'm not really sure what I'm doing.</h3>
        </div>
    </div>

    <div class="separator"></div>

    <div class="p">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nihil officiis tempore nesciunt neque quod itaque atque?
            tates, fugit repellendus? Earum enim ad amet alias sunt iusto
            minus tenetur, labore debitis!
        </p>
    </div>

    <div class="separator"></div>

    <div class="hor">
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
        <div class="vert">
            <div class="span"><span>Timeline</span></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
            <div class="p"><p>Jan - May 2022</p></div>
        </div>
    </div>
</div>


<div class="separator long-separator"></div>

<div class="in-post">
    <div class="hor">
        <div class="vert">
            <div class="span" id="en"><span>Created</span></div>
            <div class="span" id="ru"><span>Созданно</span></div>
            <div class="p"><p>16.08 - 2024</p></div>
        </div>
        <div class="vert">
            <div class="span" id="en"><span>Tools</span></div>
            <div class="span" id="ru"><span>Инструменты</span></div>
            <div class="p"><p><a href="https://www.python.org/downloads/">Python</a></p></div>
            <div class="p"><p><a href="https://pypi.org/project/yt-dlp/">yt-dlp</a></p></div>
        </div>
    </div>
</div>

{% endblock %} 