{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT -->
<div class="header" style="height: fit-content; ">
    <img src="{% static 'core/img/posts/p3school.png' %}" style="width: 100%; border-radius: 6px;">
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Persona 3 Reload</h1>
        </div>
        <div class="r3">
            <h3 id="en"><p style="font-weight: 100; font-style: italic; font-size: 14px;">I couldn't post this review on steam so I desided to leave it here:</p>Emotions are what drives people, and this game has given me a lot more of them than I could have imagined. "Atlus" ありがとうございます for all of you. (I didn't even know I could cry like that).</h3>
            <h3 id="ru"><p style="font-weight: 100; font-style: italic; font-size: 14px;">Я не смог опубликовать этот обзор в steam, поэтому решил оставить его здесь:</p>Эмоции - это то, что движет людьми, и эта игра подарила мне их гораздо больше, чем я мог себе представить. "Atlus" ありがとうございます для всех вас. (Я даже не знал, что могу так плакать).</h3>
            <!-- <p>\/ перенести в конец поста</p> -->
            <audio controls>
                <source src="{% static 'core/audio/Persona 3 Reload OST - Memories of You [FINAL WASH OF 2024!] HQ.m4a' %}">
            </audio>
        </div>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <iframe width="1120" height="630" style="border-radius: 6px;" src="https://www.youtube.com/embed/2hUxmiN2Qdc?si=5dkI2i4SZLEzyzBr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="separator long-separator" style="margin-top: 50px;"></div>

<div class="in-post">

    <div class="p">
        <div class="r3">
            <h3 id="en">Let's quickly go through what they eat, so as not to get bored.</h3>
            <h3 id="ru">Так, давайте быстро пройдёмся с чем это едят, чтобы не заскучать.</h3>
        </div>
        
        <div class="space"></div>
        <div class="space"></div>

        <div class="h3">
            <h3 id="en">Persona 3 Reload is a remake of the iconic Persona 3 role—playing game released in 2006. This project from Atlus studio is expected with great impatience by fans of the series, as it promises not only an update of graphics and gameplay, but also a number of new features that will make the game more accessible to the modern player.</h3>
            <h3 id="ru">Persona 3 Reload — это ремейк культовой ролевой игры Persona 3, выпущенной в 2006 году. Этот проект от студии Atlus ожидается с большим нетерпением фанатами серии, так как обещает не только обновление графики и геймплея, но и ряд новых возможностей, которые сделают игру более доступной для современного игрока.</h3>
            <div class="space" id="ru"></div>
            <h3 id="ru">В ремейке появилась полная поддержка русского языка для субтитров и интерфейса. </h3>
            <div class="space" id="ru"></div>
            <h3 id="en">
                Persona is a series of Japanese role—playing games created by Atlus. It is a spin-off of the larger Megami Tensei franchise.
                Persona stands out among other JRPGs for its unique combination of traditional role-playing gameplay, psychological analysis and social simulation,
                which makes it different from other games.  
            </h3>
            <h3 id="ru">
                Persona — это серия японских ролевых игр, созданных компанией Atlus. Является спин-оффом более крупного франчайза "Megami Tensei".
                Persona выделяется среди других JRPG своим уникальным сочетанием традиционного ролевого геймплея, психологического анализа и социальной симуляции,
                что делает её непохожей на другие игры.
            </h3>
            <div class="space"></div>
            <h3 id="en">Each game in the Persona series revolves around a group of young people, usually high school students, who encounter mystical events and entities known as "Persona". These beings are the embodiment of their inner psychological aspects.</h3>
            <h3 id="ru">Каждая игра в серии Persona разворачивается вокруг группы молодых людей, обычно старшеклассников, которые сталкиваются с мистическими событиями и сущностями, известными как "Персоны". Эти существа являются воплощением их внутренних психологических аспектов.</h3>
            <!-- <div class="space"></div> -->
            <div class="separator"></div>
            <h3 id="en">
                Persona 3 (2006) is a game that significantly updated the series, introducing a daytime system, social connections and a deeper plot. The plot focuses on exploring the themes of death and coping with loss. Therefore, they summon their persons in a specific way.
                <br>
                <br>
                Persona 4 (2008) is another successful game that develops the ideas of Persona 3, but with a lighter and brighter tone. The story revolves around the investigation of a series of murders in a small town.
                <br>
                <br>
                Persona 5 (2016) is the latest main game in the series, featuring style and a deep plot. She explores the themes of freedom, suppression and the fight against injustice in society.
            </h3>
            <h3 id="ru">
                Persona 3 (2006) — игра, которая значительно обновила серию, представив дневную систему, социальные связи и более глубокий сюжет. Сюжет сосредоточен на исследовании темы смерти и преодоления утраты. Поэтому они призывают своих персон специфическим образом.
                <br>
                <br>
                Persona 4 (2008) — еще одна успешная игра, которая развивает идеи Persona 3, но с более легким и ярким тоном. История вращается вокруг расследования серии убийств в маленьком городке.
                <br>
                <br>
                Persona 5 (2016) — самая свежая основная игра в серии, отличающаяся стилем и глубоким сюжетом. Она исследует темы свободы, подавления и борьбы против несправедливости в обществе.
            </h3>
            <div class="space"></div>
            <h3 id="en">The main theme of the game is the self—discovery and inner struggle of characters who overcome their fears, doubts and weaknesses in order to reveal their true strengths.</h3>
            <h3 id="ru">Основная тема игры — это самоопознание и внутренняя борьба персонажей, которые преодолевают свои страхи, сомнения и слабости, чтобы раскрыть свои истинные силы.</h3>
            <div class="space"></div>
            <h3 id="en">Each game explores various social and philosophical themes such as the existential crisis, the collective unconscious, and societal issues.</h3>
            <h3 id="ru">В каждой игре исследуются различные социальные и философские темы, такие как экзистенциальный кризис, коллективное бессознательное и общественные проблемы.</h3>
        </div>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1" id="en"><h1>Music</h1></div>
        <div class="h1" id="ru"><h1>Музыка</h1></div>
        <div class="r3">
            <h3 id="en">Burn my dread</h3>
            <h3 id="ru">Сожги мой страх</h3>
        </div>
    </div>

    <div class="vert">
        <div class="r3">
            <h3 id="en">I understand that it is the GAME that attracts people in games more, but it was the music that gave me 60% of the attention.</h3>
            <h3 id="ru">Понимаю что людей в играх больше привлекает именно ИГРА, но именно музыка подарила мене 60% внимания.</h3>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/posts/maxresdefault.jpg' %}">
    </div>
</div>

<div class="in-post">
    <div class="vert">
        <div class="h3">
            <h3 id="en">The music in the Persona series is one of its most important and distinctive features and plays a key role in creating the atmosphere and emotional background of the game. Thanks to Yumi Kawamura, Shihoko Hirata and Aoi Yuki for the vocals. The audio accompaniment often changes depending on the time of day, location, or situation in the game.</h3>
            <h3 id="ru">Музыка в серии Persona является одной из самых важных и отличительных её черт и играет ключевую роль в создании атмосферы и эмоционального фона игры. За вокал спасибо Yumi Kawamura, Shihoko Hirata и Aoi Yuki.</h3>
            <div class="cen">
                <div class="space"></div>
                <img style="width: 50%; border-radius: 6px;" src="{% static 'core/img/posts/persona-3-reload-persona-3-karaoke.gif' %}">
                <div class="space"></div>
            </div>
            <h3 id="en">The audio accompaniment often changes depending on the time of day, location, or situation in the game. For example, in moments of everyday life — light and relaxing:</h3>
            <h3 id="ru">Аудио сопровождение часто меняется в зависимости от времени суток, местоположения или ситуации в игре. Например в моменты повседневной жизни — лёгкими и расслабляющими:</h3>
            <div class="vert">
                <h2>Color Your Night</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Color Your Night  -Full-.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>学園の記憶 (Memories of the School)</h2>
                <audio controls>
                    <source src="{% static 'core/audio/学園の記憶 (P3R ver.).m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>During the Exams</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload Soundtrack - During the Exams.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>Changing Seasons</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload OST - Changing Seasons [FINAL WASH OF 2024!] HQ.m4a' %}">
                </audio>
            </div>
            <div class="space"></div>

            <div class="separator"></div>
            <h3 id="en">And in battle scenes, soundtracks can be dynamic and intense.:</h3>
            <h3 id="ru">А в боевых сценах саундтреки могут быть динамичными и напряжёнными:</h3>
            <div class="vert">
                <h2>It's Going Down Now.</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Its Going Down Now.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>Mass Destruction</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Mass Destruction -Reload-.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>Burn My Dread</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 - Burn My Dread (Full) [Lyrics].m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
            </div>

            <div class="space"></div>
            <h3 id="en">For example, the track "The Battle for Everyone's Souls" from Persona 3 highlights the struggle to save the world:</h3>
            <h3 id="ru">Например, трек "The Battle for Everyone’s Souls" из Persona 3 подчёркивает борьбу за спасение мира:</h3>
            <audio controls style="width: 100%;">
                <source src="{% static 'core/audio/Persona 3 Reload OST - The Battle for Everyones Souls.m4a' %}">
            </audio>
        </div>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1" id="en"><h1>Gameplay</h1></div>
        <div class="h1" id="ru"><h1>Геймплей</h1></div>
        <div class="r3">
            <h3 id="en">"Life is wonderful... but sometimes it can be so cruel."</h3>
            <h3 id="ru">"Жизнь прекрасна... но иногда она может быть такой жестокой."</h3>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/posts/p3-school.png' %}">
        <img src="{% static 'core/img/posts/6130295014_1697779488_708.jpeg' %}">
        <img src="{% static 'core/img/posts/wdqszktqmux437sna6yc7bhw9adhidod.jpeg' %}">
        <img src="{% static 'core/img/posts/p3.png' %}">
    </div>
</div>


<div class="in-post">
    <div class="vert">
        <div class="h3" id="en">
            <h3>Persona combines elements of a traditional JRPG with a social simulation. In battles, players fight shadows and demons using the powers of their Personas. The combat system is usually turn-based, with an emphasis on exploiting enemies' weaknesses to achieve victory.</h3>
            <h3>Outside of combat, players spend time in the real world building relationships with other characters, attending school, participating in clubs, and doing various daily chores. These social connections have an impact on the strength of the Person in battle.</h3>
            <h3>An important element is the "Social Links" system, which allows players to strengthen relationships with certain characters and receive various bonuses for this.</h3>
            <h3>The updated Persona 3 Reload combat system makes the game more accessible and convenient for a wide range of players. These changes do not simplify the game to a level where the challenge is lost, but make it more comfortable and fair, which is especially important for players who may be new to the Persona series.</h3>
        </div>
        <div class="h3" id="ru">
            <h3>Persona совмещает элементы традиционной JRPG с социальной симуляцией. В боях игроки сражаются с тенями и демонами, используя силы своих Персон. Боевая система обычно пошаговая, с акцентом на использование слабостей врагов для достижения победы.</h3>
            <h3>Вне боя игроки проводят время в реальном мире, строя отношения с другими персонажами, посещая школу, участвуя в клубах и занимаясь различными повседневными делами. Эти социальные связи оказывают влияние на силу Персон в бою.</h3>
            <h3>Важным элементом является система "Social Links" (социальные связи), которая позволяет игрокам укреплять отношения с определенными персонажами и получать за это различные бонусы.</h3>
            <h3>Обновлённая боевая система Persona 3 Reload делает игру более доступной и удобной для широкого круга игроков. Эти изменения не упрощают игру до уровня, где теряется вызов, но делают её более комфортной и справедливой, что особенно важно для игроков, которые могут быть новыми в серии Persona.</h3>
        </div>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1" id="en"><h1>Design</h1></div>
        <div class="h1" id="ru"><h1>Дизайн</h1></div>
        <div class="r3">
            <h3 id="en">The peak of minimalism</h3>
            <h3 id="ru">Пик минимализма</h3>
        </div>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <iframe width="1120" height="630" style="border-radius: 6px;" src="https://www.youtube.com/embed/dVWkPADNdJ4?si=dlCciKgwFb-B3F2v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1" id="en">UI</h1>
            <h1 class="h1" id="ru">Интерфейс</h1>
        </div>
        <div class="h3">
            <h3 id="en">The interface in the Persona series is a separate design masterpiece. He gives the game a special energy and style. This is not just a functional element, but also an important part of the visual aesthetics of the game.</h3>
            <h3 id="ru">Интерфейс в серии Persona — это отдельный шедевр дизайна. Он придаёт игре особую энергию и стиль. Это не просто функциональный элемент, но и важная часть визуальной эстетики игры.</h3>
            <h3 id="en">Despite the visual richness and stylized design, the Persona series interface remains intuitive and user-friendly.</h3>
            <h3 id="ru">Несмотря на визуальную насыщенность и стилизованный дизайн, интерфейс серии Persona остаётся интуитивно понятным и удобным в использовании.</h3>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/posts/foiwajaifwjai.png' %}">
        <img src="{% static 'core/img/posts/p3-int.png' %}">
        <img src="{% static 'core/img/posts/persona-menu01.png' %}">
        <img src="{% static 'core/img/posts/og_og_1706889976282083306.jpg' %}">
    </div>
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h1">
            <h1 class="h1" id="en">Characters</h1>
            <h1 class="h1" id="ru">Персонажи</h1>
        </div>
        <div class="h3">
            <h3 id="en">The character design created by artist Shigenori Soejima has become one of the most memorable elements of the series. Each character has a unique style that reflects his personality and role in the game. The characters' clothes, hairstyles and accessories are carefully designed to match their character and emotional state. They are not simple dummies, so you worry about those with whom you spent time. I want to note that even non-plot NPCs have been worked out.</h3>
            <h3 id="ru">Дизайн персонажей, созданный художником Сигенори Соэдзима, стал одним из самых запоминающихся элементов серии. Каждый персонаж обладает уникальным стилем, который отражает его личность и роль в игре. Одежда, прически и аксессуары героев тщательно проработаны, чтобы соответствовать их характеру и эмоциональному состоянию. Они не простые болванки, поэтому ты переживаешь за тех с кем проводил время. Хочу заметить что проработанны даже несюжетные нпс.</h3>
        </div>
    </div>
</div>

<div class="cen">
    <div class="img6">
        <img src="{% static 'core/img/posts/p3-metpa.jpg' %}">
        <img src="{% static 'core/img/posts/2665857943_1699643468_9335.jpeg' %}">
        <img src="{% static 'core/img/posts/original.jpg' %}">
        <img src="{% static 'core/img/posts/6131274009_1699643471_7368.jpeg' %}">
        <img src="{% static 'core/img/posts/KenjisocialLinkP3Reload.png' %}">
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1" id="en"><h1>The future of the game</h1></div>
        <div class="h1" id="ru"><h1>Будущее игры</h1></div>
        <div class="r3">
            <h3 id="en">"The future is not written. It can be changed with a single decision."</h3>
            <h3 id="ru">"Будущее не предначертано заранее. Его можно изменить одним-единственным решением."</h3>
        </div>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center">
    <iframe width="1120" height="630" style="border-radius: 6px;" src="https://www.youtube.com/embed/k7jPS2Yvkhk?si=a6ntp_6g3IjHwl4b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div class="in-post">
    <div class="vert10">
        <div class="h3">
            <h3 id="en">
                The DLC "The Answer", also known as "Episode Aigis", will be released soon (September 10, 2024), which I will definitely pass, like the rest of the games in the series.
                <br>And I've already saved a couple of tracks for myself:
            </h3>
            <h3 id="ru">
                Скоро (10 сентября 2024) будет выпущен DLC "The Answer", также известный как "Episode Aigis" который я обязательно пройду, как и остальные игры серии.
                <br>И я уже себе сохранил парочку треков:
            </h3>
            
            <div class="vert">
                <h2>Don't</h2>
                <audio controls>
                    <source src="{% static 'core/audio/Persona 3 Reload Episode Aigis - Dont.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
                <h2>P3 fes</h2>
                <audio controls>
                    <source src="{% static 'core/audio/P3 fes.m4a' %}">
                </audio>
                <div class="space"></div>
                <div class="space"></div>
            </div>
            <h3 id="en">This epilogue continues the story after the finale of the main game and focuses on Aigis, an android and one of the key characters of Persona 3.</h3>
            <h3 id="ru">Этот эпилог продолжает историю после финала основной игры и сосредотачивается на Айгис — андроиде и одном из ключевых персонажей Persona 3.</h3>
            <h3 id="en">
                There will be content added to the game for almost the whole game:
                <br>- New characters and storylines
                <br>- DLC offers about 30 hours of additional content
                <br>- New theurgies
                <br>- Gameplay changes and complexity
            </h3>
            <h3 id="ru">
                В игру будет добавленно контента почти на целую игру:
                <br>- Новые персонажи и сюжетные линии
                <br>- DLC предлагает около 30 часов дополнительного контента
                <br>- Новые теургии
                <br>- Геймплейные изменения и усложнение
            </h3>
        </div>
        <div class="separator"></div>

        <div class="h3">
            <h3 id="en">And despite all this, the FeMC mod is being developed in parallel by fans:</h3>
            <h3 id="ru">И не смотря на всё это, паралельно фанатами разрабатывается мод FeMC:</h3>
        </div>
        
        <div style="display: flex; align-items: center; justify-content: center">
        <iframe width="1120" height="630" style="border-radius: 6px;" src="https://www.youtube.com/embed/ccRoQVJUYgA?si=Goyc-7maSGJ3iOE3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        
        <div class="h3" id="en">
            <h3>Persona 3 Reload initially lacks the ability to play as a female protagonist (Female Protagonist, or FeMC), which was introduced in the Persona 3 Portable (P3P) version. In this version, players could choose the gender of their character, which changed some aspects of the gameplay, dialogues and romantic interactions.</h3>
            <h3>The absence of a female character in Persona 3 Reload caused some disappointment among fans who appreciated the opportunity to choose and change the dynamics of the plot. This led to the fact that the modder community began to actively work on creating modifications that would add FeMC to the remake.</h3>
        </div>
        <div class="h3" id="ru">
            <h3>В Persona 3 Reload изначально отсутствует возможность играть за женского главного героя (Female Protagonist, или FeMC), которая была введена в версии Persona 3 Portable (P3P). В этой версии игроки могли выбрать пол своего персонажа, что изменяло некоторые аспекты геймплея, диалогов и романтических взаимодействий.</h3>
            <h3>Отсутствие женского персонажа в Persona 3 Reload вызвало определенное разочарование среди фанатов, которые ценили возможность выбора и изменения динамики сюжета. Это привело к тому, что сообщество моддеров начало активно работать над созданием модификаций, которые добавили бы FeMC в ремейк.</h3>
        </div>
    </div>
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="cen">
        <div class="h1" id="en"><h1>Plot</h1></div>
        <div class="h1" id="ru"><h1>Сюжет</h1></div>
        <div class="r3">
            <h3 id="en">"The fact that there is a future does not mean that everyone can see it"</h3>
            <h3 id="ru">"Факт того что будущее есть не значит что все могут увидят его"</h3>
        </div>
    </div>
</div>

<div class="in-post">
    <div class="vert">
        <div class="h3">
            <h3 id="en">
                And here we will stop and I will ask you, if you are interested in the game, in NO CASE DO NOT SPOIL the PLOT, you will lose a lot by not passing or watching the game in person.
                <br>
                <br>
                It's worth it.
            </h3>
            <h3 id="ru">
                А вот тут мы остановимся и я вас попрошу, если вы заинтересованы в игре НИ В КОЕМ СЛУЧАЕ НЕ СПОЙЛЕРИТЕ СЮЖЕТ, вы очень много потеряете не пройдя или смотря игру лично.
                <br>
                <br>
                Оно того стоит.
            </h3>
        </div>
    </div>
</div>

<div class="header" style="height: fit-content; background-color: transparent;">
    <img src="{% static 'core/img/posts/2161700_3332.png' %}" style="width: 100%; border-radius: 6px;">
</div>

<div class="separator long-separator"></div>

<div class="in-post">
    <div class="hor">
        <div class="vert">
            <div class="span" id="en"><span>Created</span></div>
            <div class="span" id="ru"><span>Созданно</span></div>
            <div class="p"><p>16.08 - 2024</p></div>
        </div>
    </div>
</div>

{% endblock %} 