{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- CONTENT -->

<div class="header" style="height: fit-content; ">
    <img src="{% static 'core/img/posts/p3school.png' %}" style="width: 100%; border-radius: 6px;">
</div>

<div class="in-post">

    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Persona 3 Reload</h1>
        </div>
        <div class="r3">
            <h3>Game that broke me</h3>
        </div>
        <audio controls>
            <source src="{% static 'core/audio/Persona 3 Reload OST - Memories of You [FINAL WASH OF 2024!] HQ.m4a' %}">
        </audio>

    <div class="separator long-separator"></div>

        <audio controls>
            <source src="{% static 'core/audio/Persona 3 Reload OST - Memories of You [FINAL WASH OF 2024!] HQ.m4a' %}">
        </audio>
    </div>
</div>

    <div class="separator long-separator"></div>


<div class="in-post">

    <div class="vert10">
        <div class="h1">
            <h1 class="h1">Persona 3 Reload</h1>
        </div>
        <div class="r3">
            <h3>Game that broke me</h3>
        </div>
        <audio controls>
            <source src="{% static 'core/audio/Persona 3 Reload OST - Memories of You [FINAL WASH OF 2024!] HQ.m4a' %}">
        </audio>
    </div>
</div>

    <div class="separator long-separator"></div>


<div class="in-post">
    <div class="hor">

    <div class="vert10">
    <div class="span"><span>Created</span></div>
    <div class="p">
        <p>
            26.08 - 2024
        </p>
    </div>
    </div>
    </div>
</div>
{% endblock %}