{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="about">

    <header><p>LET THAT FOG SETTLE...</p></header>

    <div class="title">
        <div class="name">
            <div class="fog"></div>
            <h1>Alex Bar</h1>
            <footer>
                <span>荒烈駆素</span>
                <span class="transcription">/arekkusu baru/</span>
            </footer>
        </div>
        <div class="image-set">
            <div class="fog"></div>
            <div class="frame1">
                <img src="{% static 'core/img/about/5291913958447505426.jpg' %}">
            </div>
            <div class="frame2">
                <img src="{% static 'core/img/about/5291913958447505425.jpg' %}">
            </div>
            <div class="frame3">
                <img src="{% static 'core/img/about/5291913958447505453.jpg' %}">
            </div>
            <div class="frame4">
                <img src="{% static 'core/img/about/5291913958447505423.jpg' %}">
            </div>
        </div>
    </div>

    <div class="info">
        <div class="image-set">
            <div class="fog"></div>
            <div class="frame1">
                <img src="{% static 'core/img/about/5291913958447505453.jpg' %}">
                <span>My craft began here</span>
            </div>
            <div class="frame2">
                <img src="{% static 'core/img/about/5291913958447505425.jpg' %}">
            </div>
        </div>
        <div class="text">
            <header>
                <span>INFO</span>
            </header>
            <span>
                I’m a designer living in Berkeley, California. Previously, an architect from Singapore.
            </span>
            <span>
                For a long time, I’ve been designing spaces that people can enjoy strolling around, always striving to curate an engaging human experience as they navigate the built environment. Throughout this journey, I’ve been curious about understanding human interaction to build more intuitive things – there are many complexities in human relationships with nature and architecture with so much still to explore.
            </span>
            <span>
                During my sophomore year, I decided to shift my career towards designing for people in computing spaces because of a desire to work at larger and faster scales. While computing and architecture slowly evolve, still, at the heart of these disciplines are what makes design valuable – it improves people’s lives holistically through emotion, functionality, and aesthetics. Instead of strolling spaces, however, people are now scrolling interfaces more. Architecture has given me a spatial 'taste' of design in the real world and allows me to bring a systems view to designing interfaces that feel more humane.
            </span>
        </div>
    </div>

    <div class="separator">
        <span>EDUCATION</span>
    </div>

    <div class="education">
        <div class="text">
            <h3>University of California, Berkeley</h3>
            <h3>College of Environmental Design</h3>
            <span>Bachelors of Arts in Architecture - Undergraduate Thesis</span>
            <span>Berkeley Certification in Design Innovation (BCDI)</span>
        </div>
        <div class="image-set">
            <!-- <div class="fog"></div> -->
            <div class="frame1">
                <img src="{% static 'core/img/about/5291913958447505453.jpg' %}">
                <span>Berkeley campus during the spring</span>
            </div>
        </div>
    </div>

</div>
{% endblock %} 