{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="about">

    <header><p>LET THAT FOG SETTLE...</p></header>

    <div class="title">
        <div class="name">
            <div class="fog"></div>
            <h1>Alex Bar</h1>
            <footer>
                <span>荒烈駆素</span>
                <span class="transcription">/arekkusu baru/</span>
            </footer>
        </div>
        <div class="image-set">
            <div class="fog"></div>
            <div class="frame1">
                <img src="{% static 'core/img/about/5291913958447505426.jpg' %}">
            </div>
            <div class="frame2">
                <img src="{% static 'core/img/about/5291913958447505425.jpg' %}">
            </div>
            <div class="frame3">
                <img src="{% static 'core/img/about/5291913958447505453.jpg' %}">
            </div>
            <div class="frame4">
                <img src="{% static 'core/img/about/5291913958447505423.jpg' %}">
            </div>
        </div>
    </div>

    <div class="info">
        <div class="image-set">
            <div class="fog"></div>
            <div class="frame1">
                <!-- <img src="{% static 'core/img/about/5291913958447505426.jpg' %}"> -->
            </div>
            <div class="frame2">
                <!-- <img src="{% static 'core/img/about/5291913958447505425.jpg' %}"> -->
            </div>
        </div>
        <div class="text">
            <header>
                <span>INFO</span>
            </header>
            <p>

            </p>
            <p>

            </p>
        </div>
    </div>

    <div class="separator">
        <span>EDUCATION</span>
    </div>

</div>
{% endblock %} 