{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="about">

    <header><p>LET THAT FOG SETTLE...</p></header>

    <div class="title">
        <div class="name">
            <div class="fog"></div>
            <h1>Alex Bar</h1>
            <footer>
                <span>荒烈駆素</span>
                <span class="transcription">/arekkusu baru/</span>
            </footer>
        </div>
        <div class="image-set">
            <div class="frame1">
                <img src="{% static 'core/img/about/5291913958447505426.jpg' %}">
            </div>
        </div>
    </div>

</div>
{% endblock %} 