{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'core/manifest.json' %}">
    <title>{{ title }}</title>

    <link type="text/css" href="{% static 'core/css/style.css' %}" rel="stylesheet"/>
    <meta name="csrf_token" content="{{ csrf_token }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta http-equiv="refresh" content="1">
</head>
<body class="dark-theme">
    
    <aside>
        <header>
            <div class="title">
                <div class="framer">
                    <a class="logo" href="{% url 'index' %}"><span>等しい</span></a>
                    <svg width="80" height="81" viewBox="0 0 80 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_55_14)">
                        <ellipse cx="40" cy="40.5" rx="19" ry="19.5" fill="white"/>
                        <circle cx="40" cy="6" r="6" fill="white"/>
                        <circle cx="65" cy="15" r="6" fill="white"/>
                        <circle cx="74" cy="41" r="6" fill="white"/>
                        <circle cx="65" cy="66" r="6" fill="white"/>
                        <circle cx="40" cy="75" r="6" fill="white"/>
                        <circle cx="15" cy="66" r="6" fill="white"/>
                        <circle cx="6" cy="41" r="6" fill="white"/>
                        <circle cx="15" cy="15" r="6" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_55_14">
                        <rect width="80" height="81" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        
                </div>
                {% for m in menus %}
                    <a class="title-btn" href="{% url m.url %}">{{m.title}}</a>
                {% endfor %}
            </div>
        </header>
        <menu>
            <span class="title">GAMES</span>
            <div class="folder">
                <span class="folder-title">Unity</span>
                <div class="container">
                    <a>Little Giant</a>
                    <a>Ink Cycle</a>
                </div>
            </div>
            <div class="folder"><a class="folder-title">Unreal</a></div>
            <div class="folder"><a class="folder-title">Godot</a></div>
        </menu>
        <footer>
            <span>CONTACT</span>
            <a href="mailto:thesuspect9980@gmail.com">Mail</a>
            <a href="https://telegram.me/TheSuspectDBG">Telegram</a>
            <a>Discord • <span>@equa_tory</span></a>
        </footer>
    </aside>

    <main>{% block content %}{% endblock %}</main>

</body>
</html>