{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="ideas">

    <header>
        <p id="en">SPECULATIVE</p>
        <p id="ru">РАЗМЫШЛЕНИЯ</p>
        <h1 id="en">Ideas for future projects</h1>
        <h1 id="ru">Идеи для будущих проектов</h1>
        <p id="en">Some ideas that I've thought of. If you have any thought about these, let me know!</p>
        <p id="ru">Идеи которые я обдумывал. Если у вас есть что сказать по ним, пожалуйста, дайте мне знать!</p>
    </header>
    
    <div class="separator"></div>

    <div class="list">
        <!-- <a class="idea" href="{% url 'post' 'little-giant' %}">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a> -->

        {% for idea in ideas %}
        {% if idea.slug != Null %}
        <a class="idea" href="{% url 'post' idea.slug %}">
            <span>{{idea.name}}</span>
            <p>{{idea.date|date:"d/m/Y"}}</p>
        </a>
        {% else %}
        <div class="idea">
            <span>{{idea.name}}</span>
            <p>{{idea.date|date:"d/m/Y"}}</p>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>

</div>
{% endblock %}