{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="ideas">

    <header>
        <p>SPECULATIVE</p>
        <h1>Ideas for future projects</h1>
        <p>Some ideas that I've thought of. If you have any thought about these, let me know!</p>
    </header>
    
    <div class="separator"></div>

    <div class="list">
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        <a class="idea" href="#">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a>
        
    </div>

</div>
{% endblock %}