{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="ideas">

    <header id="en">
        <p>SPECULATIVE</p>
        <h1>Ideas for future projects</h1>
        <p>Some ideas that I've thought of. Let me know if you have any thought about those!</p>
    </header>
    <header id="ru">
        <p>РАЗМЫШЛЕНИЯ</p>
        <h1>Идеи для будущих проектов</h1>
        <p>Идеи, о которых я думал. Если у вас есть что сказать по ним, пожалуйста, дайте мне знать!</p>
    </header>
    
    <div class="separator"></div>

    <div class="list">
        <!-- <a class="idea" href="{% url 'post' 'little-giant' %}">
            <span>Little Giant</span>
            <p>28/05/2024</p>
        </a> -->

        {% for idea in ideas %}
        {% if idea.slug != Null %}
        <a class="idea slug-idea" href="{% url 'post' idea.slug %}">
            <span>{{idea.name}}</span>
            <p>{{idea.date|date:"d/m/Y"}}</p>
        </a>
        {% else %}
        <div class="idea">
            <span>{{idea.name}}</span>
            <p>{{idea.date|date:"d/m/Y"}}</p>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>

</div>
{% endblock %}