{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="index">
    <header>
        <span id="en">Hello there, привет!</span>
        <span id="ru">Привет, hello there!</span>
        <h1 id="en">
            Alex is a programmer specializing in creating games, applications, bots, 
            tools, websites and so on. With a background in private teams working on 
            game development, Alex brings a wealth of experience and passion to 
            every project. Now, He is eager to create or join a new team to continue
            building in the team.
        </h1>
        <h1 id="ru">
            Алексаднр - программист, специализирующийся на создании игр, приложений, ботов, инструментов,
            веб-сайтов и так далее. Имея опыт работы в частных командах, занимающихся разработкой игр,
            Алексаднр привносит богатый опыт и страсть в каждый проект. Теперь он горит желанием создать новую
            команду или присоединиться к ней, чтобы продолжить разработку в комманде.
        </h1>
    </header>

    <div class="separator">
        <span id="en">CRAFT</span>
        <span id="ru">РАБОТЫ</span>
    </div>
    
    <div class="content">
        <div class="framer">
            <!-- <div class="post">
                <a href="{% url 'ideas' %}" class="small-image image">
                    <h1>I</h1>
                </a>
                <div class="framer">
                    <div class="name">
                        <span class="title">Ideas</span>
                        <span class="description">Some of my thoughts</span>
                    </div>
                    <span class="date">2024</span>
                </div>
            </div> -->
            {% for p in framer1 %}
            <div class="post">
                {% if p.small_preview == True %}
                <a href="{% url 'post' p.slug %}" class="small-image image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% else %}
                <a href="{% url 'post' p.slug %}" class="image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% endif %}
                <div class="framer">
                    <div class="name">
                        <span class="title">{{p.name}}</span>
                        {% if p.description != None %}
                        <span class="description">{{p.description}}</span>
                        {% endif %}
                    </div>
                    <span class="date">{{p.date|date:"Y"}}</span>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="framer">
            {% for p in framer2 %}
            <div class="post">
                {% if p.small_preview == True %}
                <a href="{% url 'post' p.slug %}" class="image small-image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% else %}
                <a href="{% url 'post' p.slug %}" class="image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% endif %}
                <div class="framer">
                    <div class="name">
                        <span class="title">{{p.name}}</span>
                        {% if p.description != None %}
                        <span class="description">{{p.description}}</span>
                        {% endif %}
                    </div>
                    <span class="date">{{p.date|date:"Y"}}</span>
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="framer">
            <!-- <div class="long-post post">
                <a href="#" class="image">
                    <img src="{% static 'core/img/about/im.png' %}">
                    <img src="{% static 'core/img/1.png' %}">
                </a>
                <div class="framer">
                    <div class="name">
                        <span class="title">Little Giant</span>
                        <span class="description">The Game</span>
                    </div>
                    <span class="date">2024</span>
                </div>
            </div> -->
            
            {% for p in framer3 %}
            <div class="post">
                {% if p.small_preview == True %}
                <a href="{% url 'post' p.slug %}" class="image small-image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% else %}
                <a href="{% url 'post' p.slug %}" class="image">
                    {% if p.preview_image %}
                    <img src="{{p.preview_image.url}}">
                    {% else %}
                    <h1>{{p.name|crop_first_letter }}</h1>
                    {% endif %}
                </a>
                {% endif %}
                <div class="framer">
                    <div class="name">
                        <span class="title">{{p.name}}</span>
                        {% if p.description != None %}
                        <span class="description">{{p.description}}</span>
                        {% endif %}
                    </div>
                    <span class="date">{{p.date|date:"Y"}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <span id="en">Alex Barauskas</span>
        <span id="ru">Алексаднр Бараускас</span>
        <span id="en"><a href="https://ethanchng.com">This website uses a design by Ethan Chng</a> © 2024</span>
        <span id="ru"><a href="https://ethanchng.com">Этот сайт использует дизайн от Итана Чанга</a> © 2024</span>
    </footer>
</div>
{% endblock %} 