{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="index">
    <header>
        <span>Hello there, привет!</span>
        <h1>Alex is a programmer specializing in creating games, applications, bots, 
            tools, websites and so on. With a background in private teams working on 
            game development, Alex brings a wealth of experience and passion to 
            every project. Now, He is eager to create or join a new team to continue
            building innovative and engaging software.</h1>
    </header>

    <div class="separator">
        <span>CRAFT</span>
    </div>
    
    <div class="content">
        <div class="framer">
            <div class="post">
                <a href="#" class="image">
                    <img src="{% static 'core/img/1.png' %}">
                </a>
                <div class="framer">
                    <div class="name">
                        <span class="title">Little Giant</span>
                        <span class="description">The Game</span>
                    </div>
                    <span class="date">2024</span>
                </div>
            </div>
        </div>
        <div class="framer">
            
        </div>
        <div class="framer">
            
        </div>
    </div>
    <footer>
        <span>Alex Barauskas</span>
        <span>© 2024</span>
    </footer>
</div>
{% endblock %} 