{% extends 'core/base.html' %}

{% block content %}
<div class="index">
    <header>
        <span>Hello there, привет!</span>
        <h1>Alex is a programmer specializing in creating games, applications, bots, 
            tools, websites and so on. With a background in private teams working on 
            game development, Alex brings a wealth of experience and passion to 
            every project. Now, He is eager to create or join a new team to continue
            building innovative and engaging software.</h1>
    </header>

    <div class="separator">
        <span>CRAFT</span>
    </div>
    
    <div class="content">
        
    </div>
    
    <footer>
        
    </footer>
</div>
{% endblock %} 